{% extends "parent/base.html" %}
{% load static %}

{% block head %}

{% endblock head %}


{% block style %}
<link rel="stylesheet" href="{% static '/styles/main/index.css' %}">
{% endblock style %}

{% block title %}
AxiomLite
{% endblock title %}

{% block content %}
<main class="main">
    <h1 class="title">AxiomLite</h1>
    <section class="main-section">
        <h2 class="section-title">Development</h2>
        <div class="section-content">
            <p class="section-text"></p>
            <div class="section-image-box">
                <img src="" alt="" class="section-image">
            </div>
        </div>
    </section>
    <section class="main-section">
        <h2 class="section-title">Learn</h2>
        <div class="section-content">
            <p class="section-text"></p>
            <div class="section-image-box">
                <img src="" alt="" class="section-image">
            </div>
        </div>
    </section>
    <section class="main-section">
        <h2 class="section-title">Creativity</h2>
        <div class="section-content">
            <p class="section-text"></p>
            <div class="section-image-box">
                <img src="" alt="" class="section-image">
            </div>
        </div>
    </section>
</main>
{% endblock content %}
{% block script %}
{% endblock script %}